<div class="container mt-5">
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{libro.titulo}}</h5>
          <p class="card-text text-dark">Género: {{libro.genero}}</p>
          <p class="card-text text-dark">Páginas: {{libro.paginas}}</p>
          <h6 class="card-title">{{libro.autores[0].nombre}} {{libro.autores[0].apellidos}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

