<div class="container mt-5">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nickname</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuariosList">
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellido}}</td>
        <td>{{usuario.user}}</td>
        <td>{{usuario.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
