<div class="container mt-5">
  <form [formGroup]="libroForm" (ngSubmit)="crearLibro(libroForm)">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input
        type="text"
        class="form-control"
        id="titulo"
        placeholder="Título"
        formControlName="titulo"
        [class.is-invalid]="tituloNoValido"
      />
      <small class="text-danger" *ngIf="tituloNoValido">
        Debe indicar el título del libro
      </small>
    </div>

  <div class="form-group row" formGroupName="autor">
    <label>Autor</label>
    <div class="col-6">
      <label for="autor">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        placeholder="Nombre"
        formControlName="nombre"
      />
    </div>
    <div class="col-6">
      <label for="apellidos">Apellidos</label>
      <input
        type="text"
        class="form-control"
        id="apellidos"
        name="apellidos"
        placeholder="Apellidos"
        formControlName="apellidos"
      />
    </div>
  </div>
    

    <div class="form-group g-3">
      <label for="genero">Género</label>
      <select class="form-control" id="genero" formControlName="genero">
        <option></option>
        <option>Novela</option>
        <option>Historia</option>
        <option>Ciencia</option>
        <option>Ciencia ficción</option>
        <option>Poesía</option>
        <option>Ensayo</option>
      </select>
    </div>
    <div class="form-group">
      <label for="editorial">Editorial</label>
      <input type="text" class="form-control" id="editorial" placeholder="Editorial" formControlName="editorial" />
    </div>
    <div class="form-group">
      <label for="descripcon">Descripcion</label>
      <textarea rows="7" class="form-control" id="descripcion" placeholder="Descripción" formControlName="descripcion"></textarea>
    </div>

    
    <div class="row g-3">
      <div class="col-md-2">
        <label for="paginas">Páginas</label>
        <input type="number" class="form-control" id="paginas" placeholder="1" formControlName="paginas" />
      </div>
      <div class="col-md-2">
        <label for="anhoPublicacion">Año publicación</label>
        <input type="number" class="form-control" id="anhoPublicacion" placeholder="1900" formControlName="anhoPublicacion" />
      </div>
      <div class="col-md-8">
        <label for="portada">Portada</label>
        <input type="file" class="form-control" id="portada" placeholder="imagen portada" formControlName="imagen" />
      </div>
    </div>

    

    <!-- <div class="form-group">
      <label for="exampleFormControlSelect2">Example multiple select</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Portada</label>
      <input
        type="file"
        class="form-control-file"
        id="exampleFormControlFile1"
      />
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="defaultCheck1"
      />
      <label class="form-check-label" for="defaultCheck1">
        Default checkbox
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="defaultCheck2"
        disabled
      />
      <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="exampleRadios"
        id="exampleRadios1"
        value="option1"
        checked
      />
      <label class="form-check-label" for="exampleRadios1">
        Default radio
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="exampleRadios"
        id="exampleRadios2"
        value="option2"
      />
      <label class="form-check-label" for="exampleRadios2">
        Second default radio
      </label>
    </div>
    <div class="form-check disabled">
      <input
        class="form-check-input"
        type="radio"
        name="exampleRadios"
        id="exampleRadios3"
        value="option3"
        disabled
      />
      <label class="form-check-label" for="exampleRadios3">
        Disabled radio
      </label>
    </div> -->
    <button type="submit" class="btn btn-primary mt-3 float-end" [disabled]="libroForm.invalid" >
      Crear
    </button>
  </form>
</div>
